[user]
    email = garrett@sickles.dev
    name = Garrett Sickles

[alias]
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%ar%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
    ca = commit --amend
    sq = git reset HEAD~1
